{% extends "base.html" %}

{% block title %}
基于 {{installer}} 创建新脚本
{% endblock title %}


{% block extra_head %}
{{ form.media.css }}
{% endblock extra_head %}


{% block content %}
<div class="row">
<div class="message-view col-md-6 col-md-offset-3">
  <h4>基于 {{installer}} 创建新脚本</h4>
  <p>
    你可以通过分叉功能创建基于现有安装脚本的新脚本，选择要应用到的游戏，点击“分叉”即可。
  </p>
  <p>
    <strong>注意</strong>: 如果你只是想修改现有安装脚本，<strong>不需要分叉它，</strong>
    只需要点击“编辑安装脚本”即可。没有必要的分叉会在审核过程中<strong>被删除</strong>，
    相关改动会被合并到现有脚本中。
  </p>

  <div>
    <form action="{% url "fork_installer" slug=installer.slug %}" method="post" accept-charset="utf-8">
      {% csrf_token %}
      {{ form.as_p }}
      <p class="form-actions right">
        <a href="{% url "game_detail" slug=installer.game.slug %}" class='btn'>取消</a>
        <input type="submit" class="btn btn-primary" value="分叉">
      </p>
    </form>
  </div>
</div>
</div>
{% endblock content %}


{% block scripts %}
  {{ block.super }}
  {{ form.media.js }}
{% endblock scripts %}
