{% extends "base.html" %}{% load crispy_forms_tags %}


{% block title %}重置密码 | Wine游戏助手{% endblock title %}


{% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="form-view col-sm-6">
    {% if  validlink %}
      <h4>请输入新密码</h4>
      <p>
        请输入两次新密码，以确保你没有打错。
      </p>
      <form action="" method="post" class="simple-form">{% csrf_token %}
        {{ form.as_p }}
        <p>
          <input type="submit" value="修改密码" class="btn btn-sm"/>
        </p>
      </form>
    {% else %}
      <h1>密码重置失败</h1>
      <p>
        密码重置链接已过期，请<a href="{% url 'password_reset' %}">重新获取</a>。
        如果你获取了多次，请点击邮箱中最晚收到的那封邮件，注意，它可能在“垃圾邮件”分类里。
      </p>
    {% endif %}
  </div>
  <div class="col-sm-3"></div>
</div>
{% endblock %}
