{% load static from staticfiles %}
<footer class="footer">
  <div class="container">
    <div class="col-sm-4">
      <h5>项目链接</h5>
      <ul>
        <li><a href="{% url 'about' %}">联系我们</a></li>
        <li><a href="{% url 'faq' %}">常见问题</a></li>
        <li><a href="{% url 'runners_list' %}">运行环境</a></li>
        <li><a href="https://gitee.com/winegame/lutris/wiki">知识库</a></li>
        <li><a href="https://gitee.com/winegame/lutris/issues">报告Bug</a></li>
        <li><a href="https://hu60.cn/q.php/bbs.forum.170.html">论坛</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h4>交流群</h4>
      <p class="centered">
        QQ群：905606003
      </p>
      <p class="centered">
        微信群主：SwimmingTiger
      </p>
      <p><br><br><br><br></p>
      <h4>备案号</h4>
      <p class="centered">
        <a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备18041936号</a>
      </p>
    </div>

    <div class="col-sm-4">
      <h5>友情链接</h5>
      <ul>
        <li><a href="https://lutris.net/">Lutris</a></li>
        <li><a href="https://www.winehq.org/lang/zh-cn">WineHQ</a></li>
      </ul>
    </div>
  </div>
</footer>
