{% load static from staticfiles %}
<footer class="footer">
  <div class="container">
    <div class="col-sm-4">
      <h5>项目链接</h5>
      <ul>
        <li><a href="{% url 'about' %}">联系我们</a></li>
        <li><a href="https://hu60.cn/q.php/bbs.topic.94928.html">常见问题</a></li>
        <li><a href="{% url 'runners_list' %}">运行环境</a></li>
        <li><a href="https://gitee.com/winegame/lutris/issues">报告Bug</a></li>
        <li><a href="https://hu60.cn/q.php/bbs.forum.170.html">论坛</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h4>交流群（<a href="{% url 'about' %}#qq">点击扫码</a>）</h4>
      <p class="centered">
        QQ群：<a href="{% url 'about' %}#qq">905606003</a>
      </p>
      <p class="centered">
        微信群主：<a href="{% url 'about' %}#wechat">SwimmingTiger</a>
      </p>
      <p><br><br><br><br></p>
      <h4>葡萄玩</h4>
      <p class="centered">
        备案号: <a href="https://beian.miit.gov.cn/" target="_blank">京ICP备18041936号-2</a>
      </p>
    </div>

    <div class="col-sm-4">
      <h5>相关资源</h5>
      <ul>
        <li><a href="https://lutris.net/">Lutris</a></li>
        <li><a href="https://www.winehq.org/lang/zh-cn">WineHQ</a></li>
        <li><a href="https://appdb.winehq.org/">WineHQ AppDB</a></li>
        <li><a href="https://www.protondb.com/">ProtonDB</a></li>
      </ul>
    </div>
  </div>
</footer>
