{% extends "base.html" %}
{% load lutris %}
{% load static from staticfiles %}
{% block title %}About Lutris{% endblock %}


{% block nopage %}

<div class="container intro-text">
  <div class="row">
    <h1 class="centered">论坛</h1>
    <div class='centered'>
      <p>
        <a href="https://hu60.cn/q.php/bbs.forum.170.html">点击进入</a>
      </p>
    </div>
  </div>

  <div class="row">
    <h1 class="centered">QQ群</h1>
    <div class='centered'>
      <p>
        905606003
      </p>
    </div>
  </div>

  <div class="row">
    <h1 class="centered">微信群群主</h1>
    <div class='centered'>
      <p>
        SwimmingTiger
      </p>
    </div>
  </div>

  <br><br><br><br>
</div>
{% endblock %}
