{% extends "base.html" %}
{% block title %}下载Wine游戏助手{% endblock %}

{% block content %}
<h1>下载Wine游戏助手</h1>
<div class="row">
  <div class="col-lg-12">
    <ul class='download-list'>
      <li>
        <ul>
          <li>
            Deepin v20
          </li>
        </ul>
        <p><b>
          运行游戏前需要安装支持Vulkan的显卡驱动，<a href="https://hu60.cn/q.php/bbs.topic.94828.html">点击查看显卡驱动安装教程</a>。
          <br><br>
          Wine游戏助手已上架Deepin应用商店（注意：没有上架UOS商店，UOS请看下面的安装说明），在应用商店内搜索”Wine游戏助手“就能找到，点击安装即可。
          <br>
          <a href="https://file.winegame.net/images/deepin-app-store.png">
            <img src="https://file.winegame.net/images/deepin-app-store.png" style="width: 80%">
          </a>
          <br><br>
          如果应用商店提示“Wine游戏助手安装失败”，可以使用以下命令安装：<br>
          <code>sudo apt install net.winegame.client</code><br>
          出现该问题的原因是应用商店采用的安装器<a
            href="https://github.com/linuxdeepin/deepin-deb-installer/issues/10"
          >在依赖关系可以满足的情况下也可能提示“依赖关系不满足”</a>。
          <br><br>
          推荐通过应用商店或apt命令安装，如需手动下载，
          <a href="https://file.winegame.net/packages/deepin/0.5.7.2/net.winegame.client_0.5.7.2_amd64.deb">
            可点击此处下载 0.5.7.2 版安装包
          </a>，双击即可安装。
          <br><br>
          如果遇到<code>依赖关系不满足：wine-staging</code>，请在终端执行以下命令安装依赖：<br>
          <code>sudo apt install wine</code>
          <br><br>
          Wine游戏助手安装完成后，请注销当前会话重新登陆，否则在网站上点“安装”按钮可能没反应，Wine游戏助手不会弹出。如果注销也没用，可以尝试重启。<br>
          如果你在网站上点安装始终没反应，你也可以直接在Wine游戏助手内搜索游戏，点击右上角的放大镜图标，输入游戏名称，然后点击“在WineGame.net上搜索”即可。
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            UOS 20
          </li>
        </ul>
        <p><b>
          因为UOS限制了非应用商店应用的运行，所以需要打开开发者模式才能安装游戏。<br>
          这也是我们没有上架UOS商店的原因，上架了也不能正常安装游戏，因为我们提供的wine没有商店签名，不打开开发者模式不能运行。<br>
          此外，运行游戏前需要安装支持Vulkan的显卡驱动，
          <a href="https://hu60.cn/q.php/bbs.topic.94828.html">点击查看开发者模式和显卡驱动相关教程</a>。
          <br><br>
          <a href="https://file.winegame.net/packages/deepin/0.5.7.2/net.winegame.client_0.5.7.2_amd64.deb">
            点击下载 0.5.7.2 版安装包
          </a>，打开开发者模式后，双击即可安装。
          <br><br>
          如果遇到<code>依赖关系不满足：wine-staging</code>，请在终端执行以下命令安装依赖：<br>
          <code>sudo apt install wine</code>
          <br><br>
          如果安装游戏时遇到以下错误，说明你没有打开开发者模式，请在“控制中心”>“通用”里打开开发者模式。<br>
          <code>/home/xxx/.cache/wine/fonts/MicrosoftYaheiMono.tar.gz does not exists</code><br>
          <a href="https://file.winegame.net/images/uos-dev-mode.png">
            <img src="https://file.winegame.net/images/uos-dev-mode.png" style="width: 80%">
          </a>
          <br><br>
          Wine游戏助手安装完成后，请注销当前会话重新登陆，否则在网站上点“安装”按钮可能没反应，Wine游戏助手不会弹出。如果注销也没用，可以尝试重启。<br>
          如果你在网站上点安装始终没反应，你也可以直接在Wine游戏助手内搜索游戏，点击右上角的放大镜图标，输入游戏名称，然后点击“在WineGame.net上搜索”即可。
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/debian.png' alt='Debian'>Debian<br>
            <img src='{{ STATIC_URL }}images/icons/ubuntu.png' alt='Ubuntu'>Ubuntu
          </li>
        </ul>
        <p><b>
          运行游戏前需要安装支持Vulkan的显卡驱动，<a href="https://hu60.cn/q.php/bbs.topic.94828.html">点击查看显卡驱动安装教程</a>。
          <br><br>
          <a href="https://file.winegame.net/packages/debian/0.5.7.2/net.winegame.client_0.5.7.2_amd64.deb">
            点击下载 0.5.7.2 版安装包
          </a>（注意与Deepin/UOS的包不同，安装Deepin/UOS的包后应用图标不会出现）
          <br><br>
          如果你的桌面环境支持，双击安装包即可安装。如果不支持，请通过<code>apt</code>命令安装：<br>
          <code>sudo apt install ~/Downloads/net.winegame.client_0.5.7.2_amd64.deb</code>
          <br><br>
          其中 <code>~/Downloads/net.winegame.client_0.5.7.2_amd64.deb</code> 是安装包路径。
          <br><br>
          注意：只写文件名是不行的，比如以下是错误例子，会报找不到这样的软件包：<br>
          <code>sudo apt install net.winegame.client_0.5.7.2_amd64.deb</code><br>
          如果安装包在当前目录，必须加<code>./</code>：<br>
          <code>sudo apt install ./net.winegame.client_0.5.7.2_amd64.deb</code>
          <br><br>
          如果遇到<code>依赖关系不满足：wine-staging</code>，请在终端执行以下命令安装依赖：<br>
          <code>sudo apt install wine</code>
          <br><br>
          Wine游戏助手安装完成后，请注销当前会话重新登陆，否则在网站上点“安装”按钮可能没反应，Wine游戏助手不会弹出。如果注销也没用，可以尝试重启。<br>
          如果你在网站上点安装始终没反应，你也可以直接在Wine游戏助手内搜索游戏，点击右上角的放大镜图标，输入游戏名称，然后点击“在WineGame.net上搜索”即可。
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/fedora.png' alt='Fedora'>Fedora
          </li>
        </ul>
        <p><b>
          运行游戏前需要安装支持Vulkan的显卡驱动，<a href="https://hu60.cn/q.php/bbs.topic.95524.html">点击查看显卡驱动安装教程</a>。
          <br><br>
          <a href="https://file.winegame.net/packages/fedora/0.5.7.2/net.winegame.client-0.5.7.2-2.x86_64.rpm">
          点击下载 0.5.7.2 版安装包
          </a>
          <br><br>
          如果你的桌面环境支持，双击安装包即可安装。如果不支持，请通过<code>dnf</code>命令安装：<br>
          <code>sudo dnf install ~/Downloads/net.winegame.client-0.5.7.2-2.x86_64.rpm</code>
          <br><br>
          其中 <code>~/Downloads/net.winegame.client-0.5.7.2-2.x86_64.rpm</code> 是安装包路径。
          <br><br>
          如果遇到<code>依赖关系不满足：wine-staging64</code>，请在终端执行以下命令安装依赖：<br>
          <code>sudo dnf install wine</code>
          <br><br>
          Wine游戏助手安装完成后，请注销当前会话重新登陆，否则在网站上点“安装”按钮可能没反应，Wine游戏助手不会弹出。如果注销也没用，可以尝试重启。<br>
          如果你在网站上点安装始终没反应，你也可以直接在Wine游戏助手内搜索游戏，点击右上角的放大镜图标，输入游戏名称，然后点击“在WineGame.net上搜索”即可。
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/arch_linux.png' alt='Arch Linux'>Arch Linux
          </li>
        </ul>
        <p><b>
          运行游戏前需要安装支持Vulkan的显卡驱动，<a href="https://hu60.cn/q.php/bbs.topic.96696.html">点击查看显卡驱动安装教程</a>。
          <br><br>
          要安装Wine游戏助手，请先启用32位软件源。假设你使用vim编辑器。如果你用nano，把下文的所有vim替换为nano。<br>
          <code>
            sudo pacman -Sy vim<br>
            vim /etc/pacman.conf
          </code><br>
          然后取消以下两行的注释（删除前面的#号）：<br>
          <code>
            [multilib]<br>
            Include = /etc/pacman.d/mirrorlist
          </code><br>
          如果找不到这两行，就把它们添加到文件末尾。
          <br><br>
          然后打开终端并输入以下命令：<br>
          <code>
            sudo pacman -Sy<br>
            sudo pacman -S aria2<br>
            aria2c -s5 -x5 https://file.winegame.net/packages/archlinux/0.5.7.2/net.winegame.client-0.5.7.2-1-x86_64.pkg.tar.zst<br>
            sudo pacman -U ./net.winegame.client-0.5.7.2-1-x86_64.pkg.tar.zst
          </code>
          <br><br>
          Wine游戏助手安装完成后，请注销当前会话重新登陆，否则在网站上点“安装”按钮可能没反应，Wine游戏助手不会弹出。如果注销也没用，可以尝试重启。<br>
          如果你在网站上点安装始终没反应，你也可以直接在Wine游戏助手内搜索游戏，点击右上角的放大镜图标，输入游戏名称，然后点击“在WineGame.net上搜索”即可。
          <br><br>
          此外如果你需要PKGBUILD打包脚本，可以前往这里获取：
          <a href="https://gitee.com/winegame/lutris-aur">https://gitee.com/winegame/lutris-aur</a>
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            <img src="{{ STATIC_URL }}images/icons/github-32.png" alt="Source">源代码
          </li>
        </ul>
        <p>
          可以前往 <a href="https://gitee.com/winegame/lutris">https://gitee.com/winegame/lutris</a> 获取Wine游戏助手的源代码。
        </p>
      </li>
    </ul>
    <div class="footnote right">
      <p>
        Wine游戏助手应用图标由
        <a href='https://commons.wikimedia.org/wiki/File:Tiger_Icon.svg'>Ksiom</a> 创作，以
        <a href="https://www.gnu.org/licenses/old-licenses/fdl-1.2.html">GFDL 1.2</a>
        进行许可。
      </p>
      <p>
        Linux发行版图标来自
        <a href='https://www.fatcow.com/free-icons'>FatCow</a>，以
        <a href="https://creativecommons.org/licenses/by/3.0/us/">CC-BY-3.0-US</a>
        进行许可。
      </p>
    </div>
  </div>
</div>
{% endblock %}
