{% extends "base.html" %}
{% block title %}下载Wine游戏助手{% endblock %}

{% block content %}
<h1>下载Wine游戏助手</h1>
<div class="row">
  <div class="col-lg-12">
    <ul class='download-list'>
      <li>
        <ul>
          <li>
            UOS 20<br>
            Deepin v20<br>
            <img src='{{ STATIC_URL }}images/icons/debian.png' alt='Debian'>Debian 10
          </li>
        </ul>
        <p>
          <a href="https://file.winegame.net/packages/deepin/0.5.7.1/net.winegame.client_0.5.7.1_amd64.deb">点击下载 <b>net.winegame.client_0.5.7.1_amd64.deb</b></a>
          <br><br>
          UOS 20 安装前需要打开开发者模式。所有系统运行游戏前都需要安装支持Vulkan的显卡驱动。
          <a href="https://www.hu60.cn/q.php/bbs.topic.94828.html">点击查看开发者模式和显卡驱动相关教程</a>。
          <br><br>
          UOS 20 和 Deepin v20 可以双击安装包进行安装。
          <br><br>
          Debian 10 可以通过命令行进行安装：
          <code>sudo apt install ~/Downloads/net.winegame.client_0.5.7.1_amd64.deb</code>
          其中 <b>~/Downloads/net.winegame.client_0.5.7.1_amd64.deb</b> 是安装包路径。
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src="{{ STATIC_URL }}images/icons/github-32.png" alt="Source">源代码
          </li>
        </ul>
        <p>
          可以前往 <a href="https://gitee.com/winegame/lutris">https://gitee.com/winegame/lutris</a> 获取Wine游戏助手的源代码。
        </p>
      </li>
    </ul>
    <p class="footnote right">
    图标来自
    <a href='https://www.fatcow.com/free-icons'>FatCow</a>，以
    <a href="https://creativecommons.org/licenses/by/3.0/us/">CC-BY-3.0-US</a>
    进行许可
    </p>
  </div>
</div>
{% endblock %}
