{% extends "base.html" %}
{% block title %}下载Wine游戏助手{% endblock %}

{% block content %}
<style>
  /*隐藏公告里的下载链接*/
  .notice_download_link {
    display: none;
  }
</style>
<div class="row">
  <div class="col-lg-12">
    <h3 style="font-size: 1.5em">公告</h3>
    <ul id="winegame-notice" class='download-list' style="font-size: 1.3em">
      <li>加载中……</li>
      <script>
        (async function() {
          try {
            document.getElementById('winegame-notice').innerHTML = await (await fetch('/notice.html?r=' + Date.now())).text();
          } catch {
            document.getElementById('winegame-notice').innerHTML = '<li>加载失败</li>';
          }
        })();
      </script>
    </ul>
  </div>
</div>
<h1>下载Wine游戏助手</h1>
<div class="row">
  <div class="col-lg-12">
    <ul class='download-list'>
      <li>
        <ul>
          <li>
            x86_64 CPU <br>(英特尔、AMD、<br>兆芯、海光) 上的<br>
            通用 Flatpak 打包<br>(兼容Steam Deck)
          </li>
        </ul>
        <p><b>
          Flatpak 是一种通用打包方式，可以在几乎所有 x86 Linux 桌面发行版上使用。
          <br><br>
          Wine游戏助手已提供 Flatpak 打包，安装方法如下：
          <br><br>
          <a href="https://hu60.cn/q.php/bbs.topic.103194.html#nav">https://hu60.cn/q.php/bbs.topic.103194.html#nav</a>
          <br><br>
          目前的 Flatpak 打包有一些缺点，比如因为缺少权限，英雄联盟和WeGame无法运行。此外，双显卡切换似乎也不太正常。
          <br><br>
          但是和发行版各自的打包相比，Flatpak 打包更不容易缺少依赖库。所以如果你的游戏在发行版打包中运行有问题，可以尝试 Flatpak 版本。
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            x86_64 CPU <br>(英特尔、AMD、<br>兆芯、海光) 上的<br>
            <img src='{{ STATIC_URL }}images/icons/debian.png' alt='Debian'>Debian<br>
            <img src='{{ STATIC_URL }}images/icons/ubuntu.png' alt='Ubuntu'>Ubuntu<br>
            银河麒麟 v10 SP1
          </li>
        </ul>
        <p><b>
          运行游戏前需要安装支持Vulkan的显卡驱动，<a href="https://hu60.cn/q.php/bbs.topic.94828.html#nav">点击查看显卡驱动安装教程</a>。
          <br><br>
          <a href="https://file.winegame.net/packages/debian/0.5.12.5/net.winegame.client_0.5.12.5_amd64.deb">
            点击下载 0.5.12.5 版安装包（注意与Deepin/UOS的包不同，安装Deepin/UOS的包后应用图标不会出现）
          </a>
          <br><br>
          如果你的桌面环境支持，双击安装包即可安装。如果不支持，请通过<code>apt</code>命令安装：<br>
          <code>sudo apt install ~/Downloads/net.winegame.client_0.5.12.5_amd64.deb</code>
          <br><br>
          其中 <code>~/Downloads/net.winegame.client_0.5.12.5_amd64.deb</code> 是安装包路径。
          <br><br>
          注意：只写文件名是不行的，比如以下是错误例子，会报找不到这样的软件包：<br>
          <code>sudo apt install net.winegame.client_0.5.12.5_amd64.deb</code><br>
          如果安装包在当前目录，必须加<code>./</code>：<br>
          <code>sudo apt install ./net.winegame.client_0.5.12.5_amd64.deb</code>
          <br><br>
          如果遇到<code>依赖关系不满足：wine-staging</code>，请在终端执行以下命令安装依赖：<br>
          <code>sudo apt install wine</code>
          <br><br>
          Wine游戏助手安装完成后，请注销当前会话重新登陆，否则在网站上点“安装”按钮可能没反应，Wine游戏助手不会弹出。如果注销也没用，可以尝试重启。<br>
          如果你在网站上点安装始终没反应，你也可以直接在Wine游戏助手内搜索游戏，先点左侧边栏上的“Wine游戏助手”，再点右上角的“搜索游戏”，然后在搜索框内输入游戏名称即可。
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            龙芯龙架构<br>LoongArch64 CPU<br> (龙芯3A5000/3C5000) <br>上的统信 UOS 20
          </li>
        </ul>
        <p><b>
          点击查看安装教程：<a href="https://hu60.cn/q.php/bbs.topic.102628.html#nav">Wine游戏助手龙架构测试版</a>。
          <br><br>
          如果双击安装包后提示“软件包架构不匹配”，请安装下面的版本。如果依然提示“软件包架构不匹配”，说明Wine游戏助手目前还没有适配你的CPU。
          <br><br>
          龙芯LATX兼容层已升级到1.2.1，兼容性大幅度改善，已与 winehq 7.7 和 lutris wine 7.2 等 wine 版本兼容（仅限32位wine前缀）。
          <br><br>
          经过测试的游戏和软件会在<a href="{% url 'game_list' %}?genres=29">龙架构兼容</a>分类中列出，请点击标有“龙架构”字样的安装脚本进行安装。
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            ARM64 CPU<br> (飞腾、麒麟、<br>鲲鹏) 上的<br>统信 UOS 20 或<br>银河麒麟 v10 SP1
          </li>
        </ul>
        <p><b>
          <a href="https://hu60.cn/q.php/bbs.topic.101069.html#nav">【推荐】方案1：可根据需要选择box86/box64/32位ExaGear/64位ExaGear方案，获得不同的性能和兼容性。</a>
          <br><br>
          <a href="https://hu60.cn/q.php/bbs.topic.102150.html#nav">【不推荐】方案2：先安装华为ExaGear再在里面安装wine游戏助手x64版，操作及其复杂。</a>
          <br><br>
          如果双击安装包后提示“软件包架构不匹配”，请安装下面的版本。如果依然提示“软件包架构不匹配”，说明Wine游戏助手目前还没有适配你的CPU。
          <br><br>
          注意：目前只能启动少量的游戏和软件。经过测试的游戏和软件会在<a href="{% url 'game_list' %}?genres=28">ARM64兼容</a>分类中列出，请点击标有“ARM64专用”字样的安装脚本进行安装。此外，方案2不能使用带“exagear”字样的安装脚本，因为已在ExaGear中，不能重复启动ExaGear。
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            x86_64 CPU <br>(英特尔、AMD、<br>兆芯、海光) 上的<br>统信 UOS 20
          </li>
        </ul>
        <p><b>
          如果双击安装包后提示“软件包架构不匹配”，请尝试上面的版本。如果依然提示“软件包架构不匹配”，说明Wine游戏助手目前还没有适配你的CPU。
          <br><br>
          因为UOS限制了非应用商店应用的运行，所以需要打开开发者模式才能安装游戏。<br>
          这也是我们没有上架UOS商店的原因，上架了也不能正常安装游戏，因为我们提供的wine没有商店签名，不打开开发者模式不能运行。<br>
          此外，运行游戏前需要安装支持Vulkan的显卡驱动，
          <a href="https://hu60.cn/q.php/bbs.topic.94828.html#nav">点击查看开发者模式和显卡驱动相关教程</a>。
          <br><br>
          <a href="https://file.winegame.net/packages/deepin/0.5.12.5/net.winegame.client_0.5.12.5_amd64.deb">
            点击下载 0.5.12.5 版安装包（仅限UOS使用，其他发行版安装后应用图标不会出现）
          </a>，打开开发者模式后，双击即可安装。
          <br><br>
          如果遇到<code>依赖关系不满足：wine-staging</code>，请在终端执行以下命令安装依赖：<br>
          <code>sudo apt install wine</code>
          <br><br>
          如果安装游戏时遇到以下错误，说明你没有打开开发者模式，请在“控制中心”>“通用”里打开开发者模式。<br>
          <code>/home/xxx/.cache/wine/fonts/MicrosoftYaheiMono.tar.gz does not exists</code><br>
          <a href="https://file.winegame.net/images/uos-dev-mode.png">
            <img src="https://file.winegame.net/images/uos-dev-mode.png" style="width: 80%">
          </a>
          <br><br>
          Wine游戏助手安装完成后，请注销当前会话重新登陆，否则在网站上点“安装”按钮可能没反应，Wine游戏助手不会弹出。如果注销也没用，可以尝试重启。<br>
          如果你在网站上点安装始终没反应，你也可以直接在Wine游戏助手内搜索游戏，先点左侧边栏上的“Wine游戏助手”，再点右上角的“搜索游戏”，然后在搜索框内输入游戏名称即可。
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            Deepin v20
          </li>
        </ul>
        <p><b>
          运行游戏前需要安装支持Vulkan的显卡驱动，<a href="https://hu60.cn/q.php/bbs.topic.94828.html#nav">点击查看显卡驱动安装教程</a>。
          <br><br>
          Wine游戏助手已上架Deepin应用商店（注意：没有上架UOS商店，UOS请看上面的安装说明），在应用商店内搜索”Wine游戏助手“就能找到，点击安装即可。
          <br>
          <a href="https://file.winegame.net/images/deepin-app-store.png">
            <img src="https://file.winegame.net/images/deepin-app-store.png" style="width: 80%">
          </a>
          <br><br>
          如果应用商店提示“Wine游戏助手安装失败”，可以使用以下命令安装：<br>
          <code>sudo apt install net.winegame.client</code><br>
          出现该问题的原因是应用商店采用的安装器<a
            href="https://github.com/linuxdeepin/deepin-deb-installer/issues/10"
          >在依赖关系可以满足的情况下也可能提示“依赖关系不满足”</a>。
          <br><br>
          推荐通过应用商店或apt命令安装，如需手动下载，
          <a href="https://file.winegame.net/packages/deepin/0.5.12.5/net.winegame.client_0.5.12.5_amd64.deb">
            可点击此处下载 0.5.12.5 版安装包（仅限Deepin使用，其他发行版安装后应用图标不会出现）
          </a>，双击即可安装。
          <br><br>
          如果遇到<code>依赖关系不满足：wine-staging</code>，请在终端执行以下命令安装依赖：<br>
          <code>sudo apt install wine</code>
          <br><br>
          Wine游戏助手安装完成后，请注销当前会话重新登陆，否则在网站上点“安装”按钮可能没反应，Wine游戏助手不会弹出。如果注销也没用，可以尝试重启。<br>
          如果你在网站上点安装始终没反应，你也可以直接在Wine游戏助手内搜索游戏，先点左侧边栏上的“Wine游戏助手”，再点右上角的“搜索游戏”，然后在搜索框内输入游戏名称即可。
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/fedora.png' alt='Fedora'>Fedora
          </li>
        </ul>
        <p><b>
          运行游戏前需要安装支持Vulkan的显卡驱动，<a href="https://hu60.cn/q.php/bbs.topic.95524.html#nav">点击查看显卡驱动安装教程</a>。
          <br><br>
          安装方法1：
          <br>
          <code>
            # 1. 启用wine游戏助手的COPR存储库<br>
            dnf copr enable llozi/winegame<br>
            <br>
            # 2. 安装wine游戏助手<br>
            sudo dnf install net.winegame.client
          </code>
          <br><br>
          安装方法2：
          <br><br>
          <a href="https://file.winegame.net/packages/fedora/0.5.10.4/net.winegame.client-0.5.10.4-1.x86_64.rpm">
            点击下载适用于 Fedora 的 0.5.10.4 安装包
          </a>
          <br><br>
          如果你的桌面环境支持，双击安装包即可安装。如果不支持，请通过<code>dnf</code>命令安装：<br>
          <code>sudo dnf install ~/Downloads/net.winegame.client-0.5.10.4-1.x86_64.rpm</code>
          <br><br>
          其中 <code>~/Downloads/net.winegame.client-0.5.10.4-1.x86_64.rpm</code> 是安装包路径。
          <br><br>
          如果遇到<code>依赖关系不满足：wine-staging64</code>，请在终端执行以下命令安装依赖：<br>
          <code>sudo dnf install wine</code>
          <br><br>
          Wine游戏助手安装完成后，请注销当前会话重新登陆，否则在网站上点“安装”按钮可能没反应，Wine游戏助手不会弹出。如果注销也没用，可以尝试重启。<br>
          如果你在网站上点安装始终没反应，你也可以直接在Wine游戏助手内搜索游戏，先点左侧边栏上的“Wine游戏助手”，再点右上角的“搜索游戏”，然后在搜索框内输入游戏名称即可。
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/arch_linux.png' alt='Arch Linux'>Arch Linux
          </li>
        </ul>
        <p><b>
          运行游戏前需要安装支持Vulkan的显卡驱动，<a href="https://hu60.cn/q.php/bbs.topic.96696.html#nav">点击查看显卡驱动安装教程</a>。
          <br><br>
          要安装Wine游戏助手，请先启用32位软件源。假设你使用vim编辑器。如果你用nano，把下文的所有vim替换为nano。<br>
          <code>
            sudo pacman -Sy vim<br>
            vim /etc/pacman.conf
          </code><br>
          然后取消以下两行的注释（删除前面的#号）：<br>
          <code>
            [multilib]<br>
            Include = /etc/pacman.d/mirrorlist
          </code><br>
          如果找不到这两行，就把它们添加到文件末尾。
          <br><br>
          然后打开终端并输入以下命令：<br>
          <code>
            sudo pacman -Sy<br>
            sudo pacman -S aria2<br>
            aria2c https://file.winegame.net/packages/archlinux/0.5.10.5/net.winegame.client-0.5.10.5-1-x86_64.pkg.tar.zst<br>
            sudo pacman -U ./net.winegame.client-0.5.10.5-1-x86_64.pkg.tar.zst
          </code>
          <br><br>
          Wine游戏助手安装完成后，请注销当前会话重新登陆，否则在网站上点“安装”按钮可能没反应，Wine游戏助手不会弹出。如果注销也没用，可以尝试重启。<br>
          如果你在网站上点安装始终没反应，你也可以直接在Wine游戏助手内搜索游戏，先点左侧边栏上的“Wine游戏助手”，再点右上角的“搜索游戏”，然后在搜索框内输入游戏名称即可。
          <br><br>
          此外如果你需要PKGBUILD打包脚本，可以前往这里获取：
          <a href="https://gitee.com/winegame/lutris-aur">https://gitee.com/winegame/lutris-aur</a>
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/gentoo_linux.png' alt='Gentoo'>Gentoo
          </li>
        </ul>
        <p><b>
          运行游戏前需要安装支持Vulkan的显卡驱动，<a href="https://hu60.cn/q.php/bbs.topic.96696.html#nav">点击查看显卡驱动安装教程</a>。
          <br><br>
          安装方法：<br>
          <code>
            #1. 添加 gentoo-zh 的 overlay：<br>
            eselect repository add gentoo-zh git https://github.com/microcai/gentoo-zh.git<br>
            <br>
            # 2，更新仓库：<br>
            sudo emerge --sync<br>
            <br>
            # 3. 安装wine游戏助手：<br>
            sudo emerge -avj games-util/winegame-client-bin
          </code>
          <br><br>
          Wine游戏助手安装完成后，请注销当前会话重新登陆，否则在网站上点“安装”按钮可能没反应，Wine游戏助手不会弹出。如果注销也没用，可以尝试重启。<br>
          如果你在网站上点安装始终没反应，你也可以直接在Wine游戏助手内搜索游戏，先点左侧边栏上的“Wine游戏助手”，再点右上角的“搜索游戏”，然后在搜索框内输入游戏名称即可。
        </b></p>
      </li>
      <li>
        <ul>
          <li>
            <img src="{{ STATIC_URL }}images/icons/github-32.png" alt="Source">源代码
          </li>
        </ul>
        <p>
          可以前往 <a href="https://gitee.com/winegame/lutris">https://gitee.com/winegame/lutris</a> 获取Wine游戏助手的源代码。
        </p>
      </li>
    </ul>
    <div class="footnote right">
      <p>
        Wine游戏助手应用图标由
        <a href='https://commons.wikimedia.org/wiki/File:Tiger_Icon.svg'>Ksiom</a> 创作，以
        <a href="https://www.gnu.org/licenses/old-licenses/fdl-1.2.html">GFDL 1.2</a>
        进行许可。
      </p>
      <p>
        Linux发行版图标来自
        <a href='https://www.fatcow.com/free-icons'>FatCow</a>，以
        <a href="https://creativecommons.org/licenses/by/3.0/us/">CC-BY-3.0-US</a>
        进行许可。
      </p>
    </div>
  </div>
</div>
{% endblock %}
