{% extends "emails/base.html" %}
{% load thumbnail %}


{% block content %}

<p>您好，版主！</p>

<p>
  这是每日待审内容摘要。<br />
  以下是一些简要审核原则：
  <ul>
    <li>所有看起来功能正常的安装脚本都应该发布。</li>
    <li>
    如果您无法对安装脚本进行测试，请不要修改它。确保它的功能正常是作者的责任。
    <strong>
      评级时不要参考WineHQ AppDB，如果您认为安装脚本有问题，请实测安装以得到确切结论。
    </strong>
    </li>
    <li>如果您看到安装脚本从异常且不受信任的网址中获取内容，请联系管理员，不要发布该脚本。</li>
    <li>如果您测试了安装脚本并遇到问题，请为其提交评级，并在必要时从安装按钮的下拉箭头处提交反馈。对于次要问题，请在安装脚本中添加技术说明。</li>
    <li>不必发布没有安装脚本的游戏。如果是Steam游戏，请为其创建“Linux版Steam”和“Windows版Steam”安装脚本后再发布。如果游戏信息不正确，请在发布前修改。</li>
    <li>游戏截图应该只展示游戏本身，不应有无关窗口。必要时可对其进行裁剪。</li>
    <li>尽量不要删除反馈，除非反馈含有违法违规内容。如果问题已解决并且对其他人没有价值，将其标为已解决即可。</li>
  </ul>
</p>


{% if installers %}
  <h1>未发布的安装脚本</h1>
  {% for installer in installers %}
    {% with installer.game as game %}
      <div style="display: inline-block; text-align: center; padding-bottom: 10px;">
        <a href="{{ game.get_absolute_url }}">
        {% thumbnail game.title_logo "184x69" crop="center" as img %}
          <img src="{{ img.url }}" alt="{{ game.name }}" class="game-cover"/>
        {% empty %}
          <span class="game-cover">图片暂缺</span>
        {% endthumbnail %}
        </a>
        <br />
        <a href="{{ game.get_absolute_url }}">{{ game.name }}</a>
      </div>
    {% endwith %}
  {% endfor %}
{% endif %}

{% if screenshots %}
  <h1>未发布的截图</h1>
  {% for screenshot in screenshots %}
    <div style="display: inline-block; text-align: center; padding-bottom: 10px;">
      <a href="{{ screenshot.game.get_absolute_url }}">
      {% thumbnail screenshot.image '184x130' as img %}
          <img src="{{ img.url }}" title="{{ screenshot.description }}"/>
        {% endthumbnail %}
      </a>
      <br />
      <a href="{{ screenshot.game.get_absolute_url }}">{{ screenshot.description }}</a>
    </div>
  {% endfor %}
{% endif %}

{% if submissions %}
  <h1>未发布的游戏</h1>
  {% for submission in submissions %}
    {% with submission.game as game %}
      <div style="display: inline-block; text-align: center; padding-bottom: 10px;">
        <a href="{{ game.get_absolute_url }}">
        {% thumbnail game.title_logo "184x69" crop="center" as img %}
          <img src="{{ img.url }}" alt="{{ game.name }}" class="game-cover"/>
        {% empty %}
          <span class="game-cover">no image</span>
        {% endthumbnail %}
        </a>
        <br />
        <a href="{{ game.get_absolute_url }}">{{ game.name }}</a>
      </div>
    {% endwith %}
  {% endfor %}
{% endif %}


{% if issues %}
  <h1>未解决的反馈</h1>
  {% for issue in issues %}
    <ul>
      <li><a href="{{issue.get_absolute_url}}">{{issue}}</a></li>
    </ul>
  {% endfor %}
{% endif %}
{% endblock content %}
