{% extends "base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block title %}
{% if not game %} 提交游戏 {% else %} 提出修改建议 {% endif %}- Wine游戏助手
{% endblock %}
{% block extra_head %}
{{ form.media.css }}
<style>
[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.file-upload-button label {
  background-color: #991e02;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 2rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: background-color 0.3s;
}

.file-upload-button label:hover {
    background-color: #f15d22;
}
</style>

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="form-view">
      <h1>
        {% if not game %}
          提交游戏
        {% else %}
          提出对 '{{ game.name }}' 的修改建议
        {% endif %}
      </h1>
      <p>
        <strong>不要在此页面提交安装游戏或运行游戏时遇到的问题</strong>，如要反馈，请点击安装按钮旁边的下拉箭头，选择“提交反馈”。<br />
        或者你也可以前往<a href="https://hu60.cn/q.php/bbs.forum.170.html">论坛</a>
        或<a href="{% url 'about' %}">QQ、微信群</a>寻求帮助。<br /><br />

        请提供尽可能准确的信息，如果你不确定，可以前往<a href="https://baike.baidu.com/">百度百科</a>或<a href="https://www.3dmgame.com/">3DM游戏网</a>等网站查询。
        当然如果您知道比其他网站更准确的信息，也请填写在下面，我们会非常感谢你！<br /><br />
      </p>
      {% if not game %}
      <p>
        <img src="{% static "images/nosteam.png" %}" alt="不要提交Steam游戏" style="float: left; margin-right: 12px;"/>
        注意，<strong>不要手动提交Steam游戏</strong>。
        我们的数据库中可能已包含该游戏， 你可以勾选“显示尚未发布的游戏”再搜索看看。
        如果游戏确实不在库中，你可以前往个人资料页面绑定并同步你的Steam游戏库，
        这样你拥有的Steam游戏就会自动添加到我们的数据库中。
      </p>
      {% endif %}
      {% crispy form %}
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
  {{ block.super }}
  {{ form.media.js }}
  <script>
    $(function () {
      $('#id_platforms').select2({
        closeOnSelect: false,
        placeholder: ''
      });
      $('#id_genres').select2({
        closeOnSelect: false,
        placeholder: ''
      });
      $('#id_search').select2();

      $("#id_search").on('select2:select', function (event) {
        var game_id = event.target.value;
        if (!game_id) {
          return;
        }
        $.ajax({
          url: '/thegamesdb/' + game_id + '.json',
          dataType: "json",
          success: function (response) {
            $('#id_name').val(response.name);
            $('#id_year').val(response.year);
            $('#id_description').html(response.description);
            $('#id_platforms').val(response.platforms).trigger('change');
            if(response.banner) {
              // TODO load image in banner field
            }
          }
        });
      });
    });
  </script>
{% endblock %}
