{% load static from staticfiles %}
<!DOCTYPE HTML>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Mathieu Comandon, 老虎会游泳">
  <title>{% block title %}Wine游戏助手{% endblock %}</title>
  <meta name="description" content="在 UOS/Linux 上玩你最喜欢的 Windows 游戏"/>
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
  <link type="text/css" href="{% static 'css/libs.min.css' %}" rel="stylesheet" />
  <link type="text/css" href="{% static 'css/lutris.min.css' %}" rel="stylesheet" />
  <script defer src="https://file.winegame.net/static/fontawesome/5.2.0/js/all.min.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
  {% block stylesheets %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<style>
  a.title:link {text-decoration:none;}
  a.title:hover {color:#ff9900;text-decoration:underline;}
</style>
<body>
  {% if messages %}
  <ul class="alerts">
    {% for message in messages %}
      <li{% if message.tags %} class="alert alert-dismissable alert-{{ message.tags }}"{% endif %}>
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% include "includes/_header.html" %}
  {% block nopage %}
    <div id="content" class="container"><div class="page">{% block content %}{% endblock %}</div></div>
  {% endblock %}
  {% include "includes/_footer.html" %}
  <script src="{% static 'js/libs.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
